*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif; //700
    font-weight: 700;
    font-size: 15px;
}



@media only screen and (min-width : 768px){
    
}





